@import './vars/_breakpoints.css';

:root {
  --width-1: 24rem;
  --width-2: 32rem;
  --width-3: 48rem;
  --width-4: 64rem;
}

.inline {
  display: inline;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.table {
  display: table;
}
.table-cell {
  display: table-cell;
}

.overflow-hidden {
  overflow: hidden;
}
.overflow-scroll {
  overflow: scroll;
}
.overflow-auto {
  overflow: auto;
}

.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}
.clearfix:after {
  clear: both;
}

.left {
  float: left;
}
.right {
  float: right;
}

.fit {
  max-width: 100%;
}

.max-width-1 {
  max-width: var(--width-1);
}
.max-width-2 {
  max-width: var(--width-2);
}
.max-width-3 {
  max-width: var(--width-3);
}
.max-width-4 {
  max-width: var(--width-4);
}

.border-box {
  box-sizing: border-box;
}

@media (--breakpoint-sm) {
  .sm-inline {
    display: inline;
  }
  .sm-block {
    display: block;
  }
  .sm-inline-block {
    display: inline-block;
  }
  .sm-table {
    display: table;
  }
  .sm-table-cell {
    display: table-cell;
  }

  .sm-overflow-hidden {
    overflow: hidden;
  }
  .sm-overflow-scroll {
    overflow: scroll;
  }
  .sm-overflow-auto {
    overflow: auto;
  }

  .sm-left {
    float: left;
  }
  .sm-right {
    float: right;
  }
}

@media (--breakpoint-md) {
  .md-inline {
    display: inline;
  }
  .md-block {
    display: block;
  }
  .md-inline-block {
    display: inline-block;
  }
  .md-table {
    display: table;
  }
  .md-table-cell {
    display: table-cell;
  }

  .md-overflow-hidden {
    overflow: hidden;
  }
  .md-overflow-scroll {
    overflow: scroll;
  }
  .md-overflow-auto {
    overflow: auto;
  }

  .md-left {
    float: left;
  }
  .md-right {
    float: right;
  }
}

@media (--breakpoint-lg) {
  .lg-inline {
    display: inline;
  }
  .lg-block {
    display: block;
  }
  .lg-inline-block {
    display: inline-block;
  }
  .lg-table {
    display: table;
  }
  .lg-table-cell {
    display: table-cell;
  }

  .lg-overflow-hidden {
    overflow: hidden;
  }
  .lg-overflow-scroll {
    overflow: scroll;
  }
  .lg-overflow-auto {
    overflow: auto;
  }

  .lg-left {
    float: left;
  }
  .lg-right {
    float: right;
  }
}
