@import './vars/_breakpoints.css';

:root {
  --z1: 1;
  --z2: 2;
  --z3: 3;
  --z4: 4;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}

.top-0 {
  top: 0;
}
.right-0 {
  right: 0;
}
.bottom-0 {
  bottom: 0;
}
.left-0 {
  left: 0;
}

.z1 {
  z-index: var(--z1);
}
.z2 {
  z-index: var(--z2);
}
.z3 {
  z-index: var(--z3);
}
.z4 {
  z-index: var(--z4);
}

@media (--breakpoint-sm) {
  .sm-relative {
    position: relative;
  }
  .sm-absolute {
    position: absolute;
  }
  .sm-fixed {
    position: fixed;
  }

  .sm-top-0 {
    top: 0;
  }
  .sm-right-0 {
    right: 0;
  }
  .sm-bottom-0 {
    bottom: 0;
  }
  .sm-left-0 {
    left: 0;
  }
}

@media (--breakpoint-md) {
  .md-relative {
    position: relative;
  }
  .md-absolute {
    position: absolute;
  }
  .md-fixed {
    position: fixed;
  }

  .md-top-0 {
    top: 0;
  }
  .md-right-0 {
    right: 0;
  }
  .md-bottom-0 {
    bottom: 0;
  }
  .md-left-0 {
    left: 0;
  }
}

@media (--breakpoint-lg) {
  .lg-relative {
    position: relative;
  }
  .lg-absolute {
    position: absolute;
  }
  .lg-fixed {
    position: fixed;
  }

  .lg-top-0 {
    top: 0;
  }
  .lg-right-0 {
    right: 0;
  }
  .lg-bottom-0 {
    bottom: 0;
  }
  .lg-left-0 {
    left: 0;
  }
}
